@model MVC.Models.userProfileImages

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Account/_Layout.cshtml";
}
<h2 style="width:100%">Change Profile Picture</h2>
Upload new Profile Picture<br />
@section UserNav{
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Nav Header</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Home","Home",new { id = Model.UserId})">Home</a></li>
                <li><a href="@Url.Action("AboutUs", "Home")">About Us</a></li>
                <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                <li><a href="@Url.Action("Industries", "Home")">Industries</a></li>
                <li><a href="@Url.Action("Careers", "Home")">Careers</a></li>
                <li><a href="@Url.Action("ContactUs", "Home")">ContactUs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Upload", "Account", new { id = Model.UserId })"><span class="glyphicon glyphicon-picture"></span> Upload Profile Image</a></li>
                <li><a href="@Url.Action("UploadFiles", "FilesCollection", new { id = Model.UserId })"><span class="glyphicon glyphicon-paperclip"></span> Update Files</a></li>
                <li><a href="@Url.Action("ViewProfile", "Account", new { id = Model.UserId})"><span class="glyphicon glyphicon-picture"></span> View Profile</a></li>
                <li><a href="@Url.Action("EditProfile", "Account",new { id = Model.UserId})"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
                <li><a href="@Url.Action("Logout", "User")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

}
@using (Html.BeginForm("Upload", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.UserId)
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(Model => Model.File, new { type = "file", style = "border:1px solid black", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                @Html.ValidationMessage("FileName",new { @class= "text-danger" })
            </td>

            <td>
                <input type="submit" value="Upload" class="btn btn-default" />
            </td>

        </tr>

        <tr>
            <td></td>

            <td>
                <input type="reset" value="Reset" class="btn btn-danger" />
            </td>
        </tr>
    </table>
}
@section Picture{
    @{Html.RenderPartial("_Picture");}
    }